.service-card {
  display: flex;
  background-color: aliceblue;
  align-items: center;
  gap: 30px;
  border: 1px solid #060606;
  border-radius: 12px;
  padding: 30px;
  max-width: 10000px;
  margin: 40px auto;
}
.contact-head {
  display: flex;
}

.texto {
  flex: 1;
  color: #141619;
  font-size: 20px;
  line-height: 2.0;
  margin-bottom: 25px;
  
}
.texto-contacto {
  flex: 1;
  color: #f5f5f6;
  font-size: 20px;
  line-height: 2.0;
  margin-bottom: 25px;
  
}

.imagen {
  flex: 0 0 250px;
}

.imagen img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive: se apila en pantallas pequeñas */
@media (max-width: 700px) {
  .contenedor {
    flex-direction: column;
  }
  .imagen {
    flex: none;
    width: 100%;
  }
}